h1 {
  text-align: center;
}
.header {
  margin-top: 85px;
}
.formContainer {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  max-width: 500px;
  background-color: #f8f8ff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid;
  border-radius: 10px;
  
}
label {
  display: block;
  text-align: center;
  
}
.btnClass {
    border-radius: 25px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #808080;
    color: white;
}